{{template "header" .}}
<div class="w1280">
    <section class="detail_top">
        <div class="detail_top_con container">
            <div class="v_path clearfix">当前位置：
                <a href="/">首页</a>&nbsp;&nbsp;»&nbsp;&nbsp;
                <a href="javascript:;">
                    动漫
                </a>&nbsp;&nbsp;»&nbsp;&nbsp;
                <a href="/detail/{{.anime.Id}}">{{.anime.Name}}</a>
            </div>
            <div class="clearfix">
                <div class="poster_placeholder">
                    <div class="v-pic"><img src="{{.anime.Picture}}"
                                            alt="{{.anime.Name}}"
                                            style="max-height: 400px"
                    ><a href="/vod/detail/id/28716.html"
                                                                      class="v-playBtn"><i></i></a></div>
                    <p class="p_fun">
                        {{/*<a href="javascript:void(0);" class="mac_ulog" data-type="2" data-mid="1"*/}}
                                        {{/*data-id="28716"><i class="iconfont"></i>收藏</a>*/}}
                    </p>
                </div>
                <div class="txt_intro_con">
                    <div class="tit"><h1 class="clearfix">{{.anime.Name}}</h1>
                        <p class="p_txt"><em class="em_num">{{.anime.EmNum}}</em><em class="hide">播放：<span class="mac_hits hits"
                                                                                              data-mid="1" data-id="28716"
                                                                                              data-type="hits">305</span></em>
                        </p></div>
                    <ul class="txt_list clearfix">
                        <li class="clearfix"><em class="em_tit">年代：</em>{{.anime.Year}}&nbsp;&nbsp;&nbsp;<em
                                class="em_tit">地区：</em>{{.anime.Area}}
                        </li>
                        <li class="clearfix"><em class="em_tit">主演：</em>{{.anime.Star}}
                        </li>
                        <li class="clearfix"><em class="em_tit">导演：</em>{{.anime.Director}}
                        </li>
                    </ul>
                </div>
                <style>
                    .v_con_box .play_num_list{
                        display: none;
                    }
                    .v_con_box .play_num_list:nth-child(1){
                        display: block;
                    }
                </style>
                <div class="play_source">
                    <div class="play_source_tab clearfix" id="playNumTab">
                        <a href="javascript:void(0);" target="_self"
                                                                             class="cur" rel="nofollow" apiname="kkyun"
                                                                             id="api_kkyun" alt="酷云播">线路1</a><a
                            href="javascript:void(0);" target="_self" rel="nofollow" apiname="kkm3u8" id="api_kkm3u8"
                            alt="酷云m3u8">线路2</a><i class="iLine"></i></div>
                    <div class="v_con_box">
                        {{ range $key, $value :=.anime.Drama }}

                        <ul class="play_num_list clearfix">
                        {{ range $k, $v :=$value }}
                            <li><a href="/play/{{$v.Id}}">{{$v.Name}}</a></li>
                        {{ end }}
                        </ul>
                        {{ end }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="idetail container">
        <div class="col-l">
            <div class="tv-hd v-border"><h2><span>剧情介绍</span></h2></div>
            <div class="tv-bd">
                <div class="infor_intro" id="infor_intro_html">

                </div>
                <script>
                    var parent = $("#infor_intro_html");
                    parent.html({{.anime.Introduction}});
                </script>
            </div>
        </div>
    </section>
</div>
{{template "footer" .}}