{{template "header" .}}
<div class="w1280">
    <div class="icon">
        <section class="iplaytop">
            <div class="container">
                <div class="col-l">
                    <div class="mtips"><i class="iconfont"></i>
                        <div class="mtxt">正在播放：{{.anime.Name}} {{.anime.PlayName}}</div>
                        <i class="iconfont" onclick="closeTips()"></i></div>
                    <div class="iplays">
                        <style>.MacPlayer {
                            background: #000000;
                            font-size: 14px;
                            color: #F6F6F6;
                            margin: 0px;
                            padding: 0px;
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            min-height: 100px;
                        }

                        .MacPlayer table {
                            width: 100%;
                            height: 100%;
                        }

                        .MacPlayer #playleft {
                            position: inherit;
                        !important;
                            width: 100%;
                            height: 100%;
                        }</style>
                        <div class="MacPlayer">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td id="playleft" valign="top" style="">
                                        <iframe allowtransparency="true" allowfullscreen="true" width="100%"
                                                height="100%" class="embed-responsive-item"
                                                src="https://www.heimijx.com/jx/api/?url={{.anime.PlayUrl}}"
                                                frameborder="0" border="0" marginwidth="0" marginheight="0"
                                                scrolling="no"></iframe>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="iptit"><h3>{{.anime.Name}}</h3>
                        <p>第01集</p></div>
                    <div class="fjcon">
                        <div class="fjtop clearfix"><a href="javascript:zush(1);" id="zush_1"
                                                       class="fjtab cur">线路1</a><a href="javascript:zush(2);"
                                                                                   id="zush_2" class="fjtab">线路2</a>
                        </div>
                        {{ range $key, $value :=.anime.Drama }}
                        <div class="xjs xjs_1">
                            <div class="xjn">

                                <ul class="xjn_ul play-list clearfix">
                                    {{ range $k, $v :=$value }}
                                         {{ if compare $.id $v.Id }}
                                    <li class="xjn_li zhwli_1"><a class="x_n cur"
                                                                  href="/play/{{$v.Id}}">{{$v.Name}}</a>
                                    </li>
                                             {{else}}
                                             <li class="xjn_li zhwli_1"><a class="x_n"
                                                                           href="/play/{{$v.Id}}">{{$v.Name}}</a>
                                             </li>
                                         {{ end }}
                                    {{ end }}
                                </ul>

                            </div>
                        </div>
                        {{ end }}
                    </div>
                    <script> function zush(i) {
                        $('.xjs').hide();
                        $('.xjs.xjs_1').eq(i-1).show();
                        $('.fjtab').removeClass('cur');
                        $('#zush_' + i).addClass('cur')
                    } </script>
                </div>
            </div>
        </section>
    </div>
    <section class="describe">
        <div class="video-intro container">
            <div class="video-title"><h1>{{.anime.Name}} {{.anime.PlayName}}</h1></div>
            <div class="video-tags"><span class="tags">动漫</span></div>
            <div class="clearfix"></div>
            {{/*<a href="javascript:;" class="mac_ulog" data-type="2" data-mid="1" data-id="28716"><span*/}}
                    {{/*class="fav-btn">收藏</span></a>*/}}
            <p class="hoster"><span>导演：{{.anime.Director}}&nbsp;</span><span style="padding-left: 30px">主演：{{.anime.Star}}&nbsp;</span></p></div>
    </section>
</div>
