{{template "header" .}}
<div class="w1280">
    <div class="icon">
        <section class="iplaytop">
            <div class="container">
                <div class="col-l">
                    <div class="mtips"><i class="iconfont"></i>
                        <div class="mtxt">正在播放：为了女儿，我说不定连魔王都能干掉 第01集 动漫</div>
                        <i class="iconfont" onclick="closeTips()"></i></div>
                    <div class="iplays">
                        <style>.MacPlayer {
                            background: #000000;
                            font-size: 14px;
                            color: #F6F6F6;
                            margin: 0px;
                            padding: 0px;
                            position: relative;
                            overflow: hidden;
                            width: 100%;
                            height: 100%;
                            min-height: 100px;
                        }

                        .MacPlayer table {
                            width: 100%;
                            height: 100%;
                        }

                        .MacPlayer #playleft {
                            position: inherit;
                        !important;
                            width: 100%;
                            height: 100%;
                        }</style>
                        <div class="MacPlayer">
                            <table border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                <tr>
                                    <td id="playleft" valign="top" style="">
                                        <iframe allowtransparency="true" allowfullscreen="true" width="100%"
                                                height="100%" class="embed-responsive-item"
                                                src="https://vip888.kuyun99.com/share/VAmnDZQxDzIMCAEE"
                                                frameborder="0" border="0" marginwidth="0" marginheight="0"
                                                scrolling="no"></iframe>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-r">
                    <div class="iptit"><h3>为了女儿，我说不定连魔王都能干掉 【动漫】</h3>
                        <p>第01集</p></div>
                    <div class="fjcon">
                        <div class="fjtop clearfix"><a href="javascript:zush(1);" id="zush_1"
                                                       class="fjtab cur">线路1</a><a href="javascript:zush(2);"
                                                                                   id="zush_2" class="fjtab">线路2</a>
                        </div>
                        <div class="xjs xjs_1" style="display: block;">
                            <div class="xjn">
                                <ul class="xjn_ul play-list">
                                    <li class="xjn_li zhwli_1"><a class="x_n cur"
                                                                  href="/vod/play/id/28716/sid/1/nid/1.html">第01集</a>
                                    </li>
                                    <li class="xjn_li zhwli_1"><a class="x_n"
                                                                  href="/vod/play/id/28716/sid/1/nid/2.html">第02集</a>
                                    </li>
                                    <li class="xjn_li zhwli_1"><a class="x_n"
                                                                  href="/vod/play/id/28716/sid/1/nid/3.html">第03集</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="xjs xjs_2" style="display: none;">
                            <div class="xjn">
                                <ul class="xjn_ul play-list">
                                    <li class="xjn_li zhwli_2"><a class="x_n"
                                                                  href="/vod/play/id/28716/sid/2/nid/1.html">第01集</a>
                                    </li>
                                    <li class="xjn_li zhwli_2"><a class="x_n"
                                                                  href="/vod/play/id/28716/sid/2/nid/2.html">第02集</a>
                                    </li>
                                    <li class="xjn_li zhwli_2"><a class="x_n"
                                                                  href="/vod/play/id/28716/sid/2/nid/3.html">第03集</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <script> function zush(i) {
                        $('.xjs').hide();
                        $('.xjs_' + i).show();
                        $('.fjtab').removeClass('cur');
                        $('#zush_' + i).addClass('cur')
                    } </script>
                </div>
            </div>
        </section>
    </div>
    <section class="describe">
        <div class="video-intro container">
            <div class="video-title"><h1>为了女儿，我说不定连魔王都能干掉 第01集</h1></div>
            <div class="video-tags"><span class="tags">动漫</span></div>
            <div class="clearfix"></div>
            <a href="javascript:;" class="mac_ulog" data-type="2" data-mid="1" data-id="28716"><span
                    class="fav-btn">收藏</span></a>
            <p class="hoster"><span>导演：<a href="/vod/search/director/%E6%9F%B3%E7%80%AC%E9%9B%84%E4%B9%8B.html"
                                          target="_blank">柳瀬雄之</a>&nbsp;</span><span style="padding-left: 30px">主演：<a
                    href="/vod/search/actor/%E9%AB%98%E5%B0%BE%E5%A5%8F%E9%9F%B3.html" target="_blank">高尾奏音</a>&nbsp;<a
                    href="/vod/search/actor/%E5%86%88%E6%9C%AC%E4%BF%A1%E5%BD%A6.html" target="_blank">冈本信彦</a>&nbsp;<a
                    href="/vod/search/actor/%E5%B0%8F%E5%B1%B1%E5%88%9A%E5%BF%97.html" target="_blank">小山刚志</a>&nbsp;<a
                    href="/vod/search/actor/%E6%B2%BC%E4%BB%93%E7%88%B1%E7%BE%8E.html" target="_blank">沼仓爱美</a>&nbsp;<a
                    href="/vod/search/actor/%E6%A1%91%E5%8E%9F%E7%94%B1%E6%B0%94.html"
                    target="_blank">桑原由气</a>&nbsp;</span></p></div>
    </section>
</div>
{{template "footer" .}}