{{template "header" .}}
<div class="w1280 clearfix">
    <div class="col-l">
        <div class="tv-hd v-border"><h2><span><em>{{.name}}</em></span>相关视频</h2><span class="s_num">共有<em
                        class="mac_total">{{.total}}</em>部</span></div>
        <div class="tv-bd search-list">
{{ range $key, $value :=.anime }}
            <div class="item clearfix">
                <div class="item_pic"><img src="{{$value.Picture}}"
                                           alt="{{$value.Name}}"><span class="v-tips"><em>{{$value.EmNum}}</em></span><a
                            href="/detail/{{$value.Id}}" class="v-playBtn"><i></i></a></div>
                <div class="item_txt">
                    <div class="intro_con">
                        <div class="tit"><span class="s_tit"><a href="/detail/{{$value.Id}}"><strong>{{$value.Name}}</strong>
                                </a></span><span
                                    class="s_type">[动漫]</span></div>
                        <ul class="txt_list clearfix">
                            <li class="clearfix"><em class="em_tit">导演：</em>{{$value.Director}}&nbsp;<em
                                        class="em_tit">年代：</em><em>{{$value.Year}}&nbsp;</em>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                               </li>
                            <li class="clearfix"><em class="em_tit">主演：</em>{{$value.Star}}&nbsp;
                            </li>
                            <li class="li_intro clearfix"><em class="em_tit">简介：</em>
                                <div class="p_intro">
                                    {{$value.Introduction}}
                                </div>
                            </li>
                        </ul>
                        <p class="p_bottom"><a href="/detail/{{$value.Id}}" class="v_yellow_btn"><i
                                        class="iconfont"></i>播放</a></p></div>
                </div>
            </div>
{{ end }}
            <style>
                .v-page ul li{
                    /*float: left;*/
                    display: inline-block;
                }
                .v-page ul:after, .v-page ul:before{
                    content: " ";
                    display: inline-block;
                    height: 0;
                    clear: both;
                    visibility: hidden;
                }
                .v-page .active a{
                    background-color: #fb7299;
                    color: white;
                }
            </style>
            <div id="barcon" name="barcon" class="v-page clearfix"></div>
            <script src="/js/MyPage.js"></script>
            <script>
                P.config = {
                    elemId: '#barcon',
                    pageIndex: {{.page}},
                    total: {{.total}},
                    pageNum: '7',
                    pageSize: '10'
                };
                P.initMathod({
                    params: {
                        elemId: '#barcon',
                        total: {{.total}}
                    },
                    requestFunction: function() {
                        if(P.config.pageIndex!={{.page}}){
                            window.location.href="/search?name={{.name}}&page="+P.config.pageIndex;
                        }
                    }
                    });
            </script>
        </div>
    </div>
</div>
{{template "footer" .}}