<html>
    <head>
        <Title>{{ .title }}</Title>
        <meta name="keywords" content="动漫,动漫大全,最新动漫,好看的动漫,日本动漫,动漫排行榜 - 日本动漫">
        <meta name="description" content="为您提供新动漫、好看的动漫排行榜，
    免费高清在线观看热血动漫、卡通动漫、新番动漫、百合动漫、搞笑动漫、国产动漫、动漫电影等热门动漫。
     - 提供最新好看的动漫在线观看。">
    </head>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/app.css">
    <script src="/js/jquery.js"></script>
    <body>
    <div class="w1280">
        <div class="head">
           <h1>
               <a href="/"><img src="/img/logo.png" alt=""></a>
           </h1>
            <nav>
                <a href="/"  class="{{.cur}}">首页</a>
                {{/*<a href="/" class="{{.cur}}">动漫</a>*/}}
            </nav>
            <form name="formsearch" class="searchform" action="/search.html" method="post" autocomplete="off">
                <input class="ipt" placeholder="输入影片片名或演员名称。" name="wd" id="searchtext" type="text" id="wd" required="">
                <input type="submit" id="searchbutton" value="" class="hide">
                <a href="javascript:" class="ibtn" title="搜索" onclick="submit()">
                    <!--<i class="iconfont"></i>-->
                    搜索</a>
            </form>
            <script>
                function submit() {
                    var val=$("#searchtext").val();
                    window.location.href="/search?name="+val
                }
            </script>
        </div>
    </div>


